language: java
jdk:
  - oraclejdk8

services:
  - postgresql

before_script:
  - psql -c 'create database callcenter;' -U postgres
  - psql -c "CREATE USER foo WITH PASSWORD 'bar';" -U postgres
  - psql -c "ALTER DATABASE callcenter OWNER TO foo;" -U postgres

env:
  - DB_USER=foo
  - DB_PASSWORD=bar
  